<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">CH's Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Trang chủ <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/product/">Sản phẩm</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <a class="btn btn-success btn-sm ml-3" href="/cart/">
                    <i class="fa fa-shopping-cart"></i> Cart
                    <span class="badge badge-light">[[${numOfProductInCart}]]</span>
                </a>
            </form>

            <ul class="navbar-nav m-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login/}">Đăng nhập</a>
                </li>

            </ul>

        </div>
    </div>
</nav>
<div class="container mt-5">

    <div th:if="${check}" class="alert alert-danger mt-5 text-center mx-auto" role="alert" style="max-width: 500px;">
        Mật khẩu đăng nhập không hợp lệ!
    </div>

    <div th:if="${checkSignUp}" class="alert alert-success mt-5 text-center mx-auto" role="alert"
         style="max-width: 500px;">
        Đăng ký thành công!
    </div>

    <h3 class="text-center">Đăng ký tài khoản</h3>
    <form method="POST" th:action="@{/register/sign_up}" class="border p-5 rounded mx-auto"
          style="max-width: 500px; height: 530px;">
        <div class="form-group">
            <label for="exampleInputPhone">Số điện thoại</label>
            <input width="50%" type="phone" name="phone" class="form-control" id="exampleInputPhone"
                   aria-describedby="emailHelp" placeholder="Vui lòng nhập số điện thoại" required>
        </div>
        <div class="form-group">
            <label for="exampleInputName">Họ và tên</label>
            <input type="text" name="username" class="form-control" id="exampleInputName"
                   placeholder="Vui lòng nhập họ và tên" required>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Mật khẩu</label>
            <input type="password" name="pwd_1" class="form-control" id="exampleInputPassword1"
                   placeholder="Vui lòng nhập mật khẩu" required>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword2">Xác nhận mật khẩu</label>
            <input type="password" name="pwd_2" class="form-control" id="exampleInputPassword2"
                   placeholder="Vui lòng xác nhận lại mật khẩu" required>
        </div>
        <div class="form-group">
            <label for="exampleInputAddress">Địa chỉ</label>
            <input type="text" name="address" class="form-control" id="exampleInputAddress"
                   placeholder="Vui lòng nhập địa chỉ" required/>
        </div>
        <button type="submit" class="btn btn-primary d-flex justify-content-center mx-auto">Submit</button>
    </form>
</div>
<footer class="mt-5" style="background: #343a40;">
    <div class="row text-light p-4">
        <div class="col-md-3 col-lg-4 col-xl-3">
            <p class="mb-3">
                Cung cấp Laptop, PC, Linh phụ kiện chính hãng
            </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">

            <ul class="list-unstyled">
                <li><a class="text-light" href="">Lịch sử mua hàng</a></li>
                <li><a class="text-light" href="">Chính sách bảo hành</a></li>
                <li><a class="text-light" href="">Chính sách đổi trả</a></li>
                <li><a class="text-light" href="">Giao hàng và thanh toán</a></li>
            </ul>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto">
            <ul class="list-unstyled">
                <li><a class="text-light" href="">Giới thiệu công ty</a></li>
                <li><a class="text-light" href="">Tuyển dụng</a></li>
                <li><a class="text-light" href="">Gửi góp ý, khiếu nại</a></li>
                <li><a class="text-light" href="">Tìm cửa hàng gần nhất</a></li>
            </ul>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 bg-black">
            <h5>Thông tin liên hệ </h5>
            <hr class="mb-2 mt-0 d-inline-block mx-auto w-25">
            <ul class="list-unstyled">
                <li><i class="fa fa-home mr-2"></i> LaptopOnine</li>
                <li><i class="fa fa-envelope mr-2"></i> cskh@laptoponline.com</li>
                <li><i class="fa fa-phone mr-2"></i> 19001523</li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>